In [8]:
#min-max
import pandas as pd
import numpy as np

df = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],
'B':[103.02,107.26,110.35,114.23,114.68], 
'C':['big','small','big','small','small']})

df

       A       B      C
0  14.00  103.02    big
1  90.20  107.26  small
2  90.95  110.35    big
3  96.27  114.23  small
4  91.21  114.68  small

In [9]:
(df["A"] - df["A"].min()) / (df["A"].max() - df["A"].min())

0    0.000000
1    0.926219
2    0.935335
3    1.000000
4    0.938495
Name: A, dtype: float64

In [11]:
(df["B"] - df["B"].min()) / (df["B"].max() - df["B"].min())

0    0.000000
1    0.363636
2    0.628645
3    0.961407
4    1.000000
Name: B, dtype: float64

In [19]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import minmax_scale


X = np.array([[ 10., -10., 1.], [ 5., 0., 2.], [ 0., 10., 3.]])

#X_MinMax = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
min_max_scaler = minmax_scale(X, axis=0, copy=True)

In [20]:
#X_MinMax
min_max_scaler

array([[1. , 0. , 0. ],
       [0.5, 0.5, 0.5],
       [0. , 1. , 1. ]])